<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Pictures</h2>
        <% if @cocktail.photo? %>
          <%= cl_image_tag @cocktail.photo.path, aspect_ratio: "16:9", crop: :fill, class: "small-img" %>
        <% else %>
          <%= simple_form_for @cocktail do |f| %>
            <%= f.input :photo, as: :attachinary %>
            <%= f.button :submit, class: "btn btn-primary btn-lg" %>
          <% end %>
        <% end %>
      <h2><%= @cocktail.name %></h2>
      <h4>List of doses</h4>
      <ul>
        <% @cocktail.doses.each do |dose| %>
         <li><%= dose.description %> of <%= dose.ingredient.name %> | <%= link_to "Delete", dose_path(dose), method: :delete %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6 col-sm-12">
      <h2>Add a new dose for <%= @cocktail.name %></h2>
      <%= render "doses/form" %>
      <h2>Add a new review for <%= @cocktail.name %></h2>
      <%= render "reviews/form" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2>Reviews for <%= @cocktail.name %></h2>
      <ul>
        <% @cocktail.reviews.each do |review| %>
          <li>
            <p><%= review.content %></p>
            <p>Rating: <%= review.rating %> stars, posted on <%= review.created_at %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
